* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.2em;
  color: #333;
  background: #fff;
}

body,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 4px;
}

h3 {
  color: #666;
  font-size: 14px;
}

#main {
  max-width: 1200px;
  margin: 20px auto;
}

.text-center {
  text-align: center;
}

.p20 {
  padding: 20px;
}

.p50 {
  padding: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.masonry {
  &__results {
    position: relative;
    margin: 0 -8px;
    transition: height ease 0.5s;
  }
}

.card {
  position: absolute;
  opacity: 0;
  transition: opacity ease 0.6s;
  padding: 0 8px;

  &--active {
    opacity: 1;
  }

  &__style {
    // border: 1px solid #ddd;
    // height: 320px;
    background: #fff;
    // box-shadow: 0 1px 2px 2px rgba(#333, 0.1);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding: 12px;
  }

  &__image {
    img {
      width: 100%;
      aspect-ratio: 3 / 2;
    }
  }

  &__text {
    padding: 12px;
    font-size: 15px;
  }

  &__actions {
    margin-top: auto;
    padding: 0 12px 12px 12px;

    button {
      padding: 2px 5px;
      text-transform: uppercase;
      text-decoration: none;
      background: none;
      border: 0;
      border-radius: 2px;
      color: blue;
      font-weight: 600;
      cursor: pointer;
      transition: background ease 0.2s;

      &:hover {
        background: #efefef;
      }

      &:focus {
        outline: red 2px solid;
      }

      & + & {
        margin-left: 16px;
      }
    }
  }
}

.button {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 18px;
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: border ease 0.2s;

  &:hover {
    border-color: #ccc;
  }

  &:focus {
    outline: red 2px solid;
  }
}
