* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.2em;
  color: #333;
  background: #fff;
}

body,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

h3 {
  color: #666;
  font-size: 14px;
}

a {
  color: blue;

  &:focus {
    outline: black 2px solid;
  }
}

#main {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

.header {
  position: relative;
  padding-left: 70px;

  img {
    position: absolute;
    top: 12px;
    left: 0;
  }
}

.text-center {
  text-align: center;
}

.p20 {
  padding: 20px;
}

.p50 {
  padding: 50px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb50 {
  margin-bottom: 50px;
}

.masonry {
  &__results {
    position: relative;
    margin: 0 -16px;
    transition: height ease 0.5s;
  }
}

.card {
  position: absolute;
  opacity: 0;
  transition: opacity ease 0.6s;
  padding: 0 16px;

  &--active {
    opacity: 1;
  }

  &__style {
    background: #efefef;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__title {
    padding: 16px;
  }

  &__image {
    img {
      width: 100%;
      aspect-ratio: 3 / 2;
    }
  }

  &__text {
    padding: 16px;
    font-size: 14px;
    font-style: italic;
  }

  &__actions {
    margin-top: auto;
    padding: 0 16px 16px 16px;

    button {
      padding: 2px 5px;
      text-transform: uppercase;
      text-decoration: none;
      background: none;
      border: 0;
      border-radius: 2px;
      color: blue;
      font-weight: 600;
      cursor: pointer;
      transition: background ease 0.2s;

      &:hover {
        background: #efefef;
      }

      &:focus {
        outline: black 2px solid;
      }

      & + & {
        margin-left: 16px;
      }
    }
  }
}

.button {
  border: 0;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 18px;
  background: transparent;
  // font-weight: 500;
  cursor: pointer;
  transition: background ease 0.2s;
  // font-style: italic;
  background-color: #efefef;

  &:hover {
    background-color: #ddd;
  }

  &:focus {
    outline: blue 2px solid;
  }
}
